@model GameModel

@{

    ViewData["Title"] = "Game";

}

@section HeadResources
    {
    <link rel="stylesheet" href="/css/Game.css"/>
    <script src="/js/Game.js" type="module"></script>
    <script src="/js/keyboard.js" type="module"></script>
    }

<div class="text-center"> // для создания поля используются частичные виды
    @{ await Html.RenderPartialAsync("GameField", Model.GameFieldModel);} 
    @{ await Html.RenderPartialAsync("GameFightField", Model.GameFightFieldModel);}

    <div class="GameBatton">
    <button id="NewGameBatton" type="button" > New Game </button>

    </div>
</div>