@{
    ViewData["Title"] = "Правила приватности";
}
<h1>@ViewData["Title"]</h1>

<p>Везёт таксист священника. Налетает таксист на кочку и чертыхается с матами. Священик ему говорит: - не поминай нечистого, не сквернословь, а то бог тебя покарает. И тут же у таксиста отваливается колесо и обгоняет машину. Таксист начинает просить у священника прощения и молиться богу.
    Колесо катится обратно и прикручивается к машине. Таксист смотрит на священника в немом изумлении. Священник говорит: Охуеть!!! Ты это видел?</p>
